amqp==5.3.1
annotated-types==0.7.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.8.1
billiard==4.2.1
boto3==1.40.16
botocore==1.40.16
Brotli==1.1.0
camel-converter==5.0.0
celery==5.5.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
cssselect2==0.8.0
dateutils==0.6.12
Django==5.2
django-celery-beat==2.8.1
django-ratelimit==4.1.0
django-recaptcha==4.0.0
django-redis==6.0.0
django-storages==1.14.6
django-timezone-field==7.1
djangorestframework==3.15.2
Events==0.5
fonttools==4.58.5
grpcio==1.76.0
idna==3.10
jmespath==1.0.1
kombu==5.5.4
meilisearch==0.40.0
minio==7.2.16
mmh3==5.2.0
msgpack-python==0.5.6
packaging==25.0
pillow==11.3.0
pottery==3.0.1
prompt_toolkit==3.0.51
protobuf==6.33.4
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.11.0
pyphen==0.17.2
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
razorpay==1.4.2
redis==6.4.0
requests==2.32.3
s3transfer==0.13.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tenacity==9.1.2
tinycss2==1.4.0
tinyhtml5==2.0.0
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
